/*------------------------------------------------------------------
 [Master Stylesheet]

  Project:	Star Admin Bootstrap Template [Free Version]
  Version:	2.0
-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
  ===== Table of Contents =====

  * Bootstrap functions
  * Template variables
  * SCSS Compass Functions
  * Boostrap Main SCSS
  * Template mixins
    + Animation Mixins
    + Background Mixins
    + BlockQuote Mixins
    + Badges Mixins
    + Buttons Mixins
    + Cards Mixins
    + Miscellaneous Mixins
    + Text Mixins
  * Core Styles
    + Reset Styles
    + Fonts
    + Functions
    + Sidebar
    + Navbar
    + Typography
    + Miscellaneous
    + Footer
    + Layouts
    + Utilities
    + Demo styles
    + Dashboard
  * Components
    + Badges
    + Buttons
    + Cards
    + Checkboxes and Radios
    + Dropdowns
    + Forms
    + Icons
    + Preview
    + Tables
  * Landing screens
    + Auth
    + Error
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/
/* === Import Bootstrap functions and variables === */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/*-------------------------------------------------------------------*/
/* === Import template variables === */
@import "variables";

/*-------------------------------------------------------------------*/
/* === SCSS Compass Functions === */
@import "~compass-mixins/lib/compass";
@import "~compass-mixins/lib/animate";

/*-------------------------------------------------------------------*/
/* === Boostrap Main SCSS === */
@import "~bootstrap/scss/bootstrap";

/*-------------------------------------------------------------------*/
/* === Icons === */
@import "~mdi/scss/materialdesignicons";
@import "~simple-line-icons/scss/simple-line-icons";

/*-------------------------------------------------------------------*/
/* === Template mixins === */
@import "mixins/animation";
@import "mixins/background";
@import "mixins/blockqoute";
@import "mixins/badges";
@import "mixins/buttons";
@import "mixins/cards";
@import "mixins/misc";
@import "mixins/text";

/*-------------------------------------------------------------------*/
/* === Core Styles === */
@import "reset";
@import "fonts";
@import "functions";
@import "sidebar";
@import "navbar";
@import "typography";
@import "misc";
@import "footer";
@import "utilities";
@import "demo";
@import "dashboard";

/*-------------------------------------------------------------------*/
/* === Components === */
@import "components/badges";
@import "components/buttons";
@import "components/cards";
@import "components/checkbox-radio";
@import "components/dropdown";
@import "components/forms";
@import "components/icons";
@import "components/preview";
@import "components/tables";

/*-------------------------------------------------------------------*/
/* === Landing screens === */
@import "landing-screens/auth";
@import "landing-screens/error";

/* select2 .modification */
.select2-container {
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  line-height: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 16px !important;
}
.select2-container .select2-selection--single {
  min-height: 33.91px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0.56rem 0.75rem;
}
.select2-container--default .select2-selection--single {
  border: 1px solid #dfdfdf !important;
  border-radius: 2px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 31.91px !important;
}
.select2-dropdown {
  border: 1px solid #dfdfdf !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #dfdfdf !important;
}
.select2-results__option {
  padding: 0.56rem 0.75rem !important;
}

/** modal ./modification */ 
.modal-content {
  border-radius: 2px !important;
  background-color: #FFF !important;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
.slide-toggle {
  flex: 0 0 100%;
  max-width: 100%;
  transition: 0.3s;
  transition-delay: 0.2s;
}
.slide-toggle-active {
  max-width: 58.333333%;
}